<!--
<div id="plantillaCorreo" class="invisible collapse">
  <div style="text-align:center">
    <img src="cid:logolegis" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
      alt="ORACLE">
  </div>
  <div>
    Hola
    <b>{{nombreAsistente}}</b>,
    <br>
    <br> No olvides presentar este código QR junto con tú cédula al ingreso. Puedes llevarlo en tú celular o impreso. Te lo pedirán a la entrada y será indispensable para el acceso al evento.
    <br>
    <br>
    <div style="text-align:center">
      <img src="cid:pruebaqr" class="img-fluid" style="max-width: 25%; height: auto; padding-bottom: 20px; padding-top: 20px;"
        alt="QR">
      <qr-code [value]="asistente.identificacion" [size]="300"></qr-code>
      <br> {{asistente.identificacion}}
    </div>
    <br>
    <br>
    <ul>
      <li>
        Opción 1: Puedes
        <b>llevarla impresa</b>. Imprime este correo.
      </li>
      <li>
        Opción 2: Si prefieres
        <b>llevarla digital</b> utilizando este email, que te permitirá mostrar el código QR desde tu teléfono en el ágora.
        Ahorra tiempo, solo presenta este email y ya estará tu registro en el evento. No solo ahorras tiempo sino que cuidas
        el medio ambiente, imprímelo si es estrictamente necesario.
      </li>
    </ul>
    <br>
    <br> Es indispensable llevar tu documento de identificación.
    <br>
    <br> Esta tarjeta es personal e intransferible, de presentarse un caso de duplicidad el evento se reserva el derecho de admisión.
    <br>
    <hr />
    <br>
    <br>Este formulario de registro y confirmación es un producto de:
    <a href="http://www.kapulusinternational.com">www.kapulusinternational.com</a>
    <br>
    <hr />
  </div>
</div>
-->
<div id="plantillaCorreo" class="invisible collapse">
  <div style="text-align:center">
    <img src="cid:logolegis" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
      alt="ORACLE">
  </div>
  <div>
    Hola
    <b>{{nombreAsistente}}</b>,
    <br>
    <br> Legis lo invita al encuentro con expertos en Propiedad Horizontal, para fortalecer y actualizar los conocimientos teorico prácticos integrales de administración.
    <br>
    <br> Descargue los archivos adjuntos para mayor información.
    <br>
    <!--TODO Borrar esto en la version definitiva-->
    <div style="text-align:center" class="invisible collapse">
      <img src="cid:pruebaqr" class="img-fluid" style="max-width: 25%; height: auto; padding-bottom: 20px; padding-top: 20px;"
        alt="QR">
      <qr-code [value]="asistente.identificacion" [size]="300"></qr-code>
      <br> {{asistente.identificacion}}
    </div>
  </div>
</div>