<div id="plantillaCorreoConfirmacion" class="invisible collapse" style="width: 100%; height: 100vh; text-align: center;">
  <div style="font-size: 18px; max-width: 645px; text-align: center;">
  <div *ngIf="variables.idevento == 10" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 6:00 p.m. y tener a la mano su código QR de acceso.</b>
  </div>
  <div *ngIf="variables.idevento == 11" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m.</b> 
  </div>
  <div *ngIf="variables.idevento == 12" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 8:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 13" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 8:30 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 14" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 8:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 15" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 16" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 6:30 p.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 17" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 8:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 18" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 20" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 8:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 21" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 22" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m.</b> 
  </div>
  <div *ngIf="variables.idevento == 23" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 8:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 24" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 30" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:30 a.m. para el proceso de registro</b> 
  </div>
  <div *ngIf="variables.idevento == 34" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m.</b> 
  </div>
  <div *ngIf="variables.idevento == 35" style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <b>El ingreso al salón depende del aforo y su puntualidad. Le recomendamos llegar a las 7:00 a.m. para el proceso de registro</b> 
  </div>
  <div style="text-align:center">
    <img src="cid:confirmacionheader" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;">
  </div>
  <div style="text-align: center; font-size: 18px; max-width: 645px; padding-bottom: 20px; padding-top: 20px;">
    <div *ngIf="variables.idevento != 28 && variables.idevento != 33">
	<b>ESTIMADO(A) </b>
    <br>
    <b>{{nombreAsistente}}&nbsp;{{apellidoAsistente}}</b>
    <br>
	</div>
	<div *ngIf="variables.idevento == 10">
    <br> Le invitamos a presentar este código en el registro de la ceremonia para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 11">
    <br> Le invitamos a presentar este código en el registro del Foro para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 12">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 13">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 14">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 15">
    <br> Le invitamos a presentar este código en el registro del foro para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 16">
    <br> Le invitamos a presentar este código en el registro del encuentro para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 17">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 18">
    <br> Le invitamos a presentar este código en el registro del foro para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 20">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 21">
    <br> Le invitamos a presentar este código en el registro del foro para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 23">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 24">
    <br> Le invitamos a presentar este código en el registro del foro para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 25">
    <br> No olvide presentar este código QR junto con su cédula al ingreso. Puede llevarlo en su celular o impreso. Se lo pedirán a la entrada y será indispensable para el acceso al evento. 
	</div>
	<div *ngIf="variables.idevento == 29">
    <br> Le invitamos a presentar este código en el registro del encuentro para agilizar su proceso de acreditación.  Puede llevarlo en su celular o impreso. 	     
	</div>
	<div *ngIf="variables.idevento == 30">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 33">
	Apreciado(a) {{nombreAsistente}}&nbsp;{{apellidoAsistente}}:
	<br>
	<br>Cordialmente nos permitimos confirmar su registro exitoso al <b>II Congreso Internacional de Ética Profesional en Ingeniería</b>, el cual tendrá lugar el próximo 29 y 30 de agosto de 2019 en el Auditorio Forum Mons. Tulio Botero de la Universidad Pontificia Bolivariana, Campus Laureles de Medellín.
	<br>
	<br>La Mesa Interinstitucional de Consejos Profesionales de Ingeniería y afines (MICPI) y la Asociación Colombiana de Facultades de Ingeniería (ACOFI), le extienden desde ya la más cordial bienvenida a este importante evento de la Ingeniería.
	<br>
	<!--
	<br>Datos del evento:
	<br>•	Lugar: Universidad Pontificia Bolivariana, Auditorio 
	<br>•	Circular 1ª 70-01 Campus Laureles
	<br>•	Fecha y hora: jueves y viernes 29 y 30 de agosto desde las 7:00 a.m.
	<br>•	Link para tarjeta de negocios: <a href="https://play.google.com/store/apps/details?id=com.veriddica.vecard" target="_blank">https://play.google.com/store/apps/details?id=com.veriddica.vecard</a>
	<br><a href="https://apps.apple.com/co/app/vecard/id1456300712" target="_blank">https://apps.apple.com/co/app/vecard/id1456300712</a>
	<br>
	-->
	<br>No olvide presentar su documento de identificación en la entrada de la Universidad.
	<br>
	<br>¡Esperamos contar con su valiosa asistencia!
	<br>
	<br>
	<br>Cordialmente,
	<br>
	<br>Ruben Dario Ochoa Arbelaez. 
	<br>Coordinador de la MICPI
	<br>
	</div>
	<div *ngIf="variables.idevento == 33">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 34">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 35">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
	<div *ngIf="variables.idevento == 36">
    <br> No olvide presentar este código QR junto con su cédula al ingreso. Puede llevarlo en su celular o impreso. Se lo pedirán a la entrada y será indispensable para el acceso al evento. 
	</div>
	<div *ngIf="variables.idevento == 39">
    <br> No olvide presentar este código QR junto con su cédula al ingreso. Puede llevarlo en su celular o impreso. Se lo pedirán a la entrada y será indispensable para el acceso al evento. 
	</div>
	<div *ngIf="variables.idevento == 40">
    <br> Le invitamos a presentar este código en el registro del evento para agilizar su proceso de acreditación.
	</div>
    <br>
    <br>

    <div style="text-align:center"> 
      <img src="cid:qr" class="img-fluid" style="max-width: 25%; height: auto; padding-bottom: 20px; padding-top: 20px;"
        alt="QR">
      <qr-code #myQR [value]="identificacion" [size]="300"></qr-code>
      <!--<br> {{identificacion}}-->
    </div>
    <br>
    <br>
	<div *ngIf="variables.idevento != 28 && variables.idevento != 33">
    <b>GRACIAS POR SU PARTICIPACIÓN</b>
    <br>
	<br>
	</div>
	<div *ngIf="variables.idevento == 16">
	<b>TÉRMINOS Y CONDICIONES DEL EVENTO</b>
	<br>
	Los cupos al evento son limitados. Su inscripción al evento no garantiza la entrada al mismo. El derecho al ingreso es determinado por el orden de llegada y no por el orden de inscripción. Recomendamos llegar con tiempo al lugar del evento para garantizar su cupo y la de su acompañante. 
    <br>
	<br>
	</div>
	<div *ngIf="variables.idevento != 25">
    <div *ngIf="variables.idevento == 33" style="text-align:center">
	  <br><b>Clic en la imagen para la tarjeta de negocios</b>
	  <br>
	  <a href="https://play.google.com/store/apps/details?id=com.veriddica.vecard" target="_blank">
		<img src="cid:confirmacionfooter" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;">
	  </a>
    </div>
	<div *ngIf="variables.idevento == 34 || variables.idevento == 35" style="text-align:center">
		<img src="cid:confirmacionfooter" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;">
	</div>
	</div>
<!--
    <br>
    <hr />
    <br>
    <br>Este formulario de registro y confirmación es un producto de:
    <a href="http://www.kapulusinternational.com">www.kapulusinternational.com</a>
    <br>
    <hr />
-->
  </div>
  </div>
</div>
<div id="plantillaCorreoInvitacion" class="invisible collapse" style="width: 100%; height: 100vh; text-align: center; font-family:calibri;">
  <div style="max-width: 540px;">
  <!--
  <div style="text-align:center">
    <img src="cid:forossemana" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
      alt="Foros Semana">
  </div>
  -->
  <div style="text-align: justify;">
    <br>
    <br>Estimado (a) <b>{{nombreAsistente}}&nbsp;{{apellidoAsistente}}</b>,
    <br>
	<div *ngIf="variables.idevento == 14">
		<br> Coosalud lo invita a conocer de qué manera los colombianos podemos construir un mejor sistema de salud el próximo 31 de mayo en Bucaramanga en la Rendición de cuentas a la ciudadanía. 
	</div>
	<div *ngIf="variables.idevento == 15">
		<br> Foros Semana y ABBVIE le invitan al foro <b>“LA RESPONSABILIDAD DE LOS ACTORES DEL SISTEMA DE SALUD: AUTONOMÍA MÉDICA, CALIDAD Y AUTORREGULACIÓN</b> que se llevará a cabo el miércoles <b>5 de junio de 2019 en Bogotá.</b> Con el objetivo de analizar e invitar a la reflexión sobre la necesidad de proteger la autonomía médica y que esta prevalezca en momentos de presión financiera.
	</div>
	<div *ngIf="variables.idevento == 16">
		<br> Acompañe a los columnistas de Semana este 26 de mayo 
	</div>
	<div *ngIf="variables.idevento == 18">
		<br> En las últimas décadas el ingreso de las mujeres al mundo laboral ha tenido un desarrollo e incremento notable; sin embargo, su crecimiento en cuanto a puestos directivos ha sido más pausado.
		<br>
		<br>Con el objetivo de resaltar el rol de las mujeres y su creciente liderazgo profesional y social, Foros Semana, Belcorp, Dinero, Fucsia y Semana Sostenible, con el apoyo de Lenovo, Pepsico y 3M, realizarán el foro “<b>Mujeres Colombianas, Mujeres que inspiran</b>”, el <b>próximo 19 de junio</b> en el <b>hotel JW Marriott de Bogotá</b>.
	</div>
	<div *ngIf="variables.idevento == 20">
		<br> En la Rendición de Cuentas de Coosalud EPS este 7 de junio conoceremos los resultados del 2018 y debatiremos sobre cómo construir un mejor sistema de salud con el doctor Ramiro Guerrero, Director del Centro de Estudios en protección Social y Economía de la Salud de la Universidad del ICESI.
	</div>
	<div *ngIf="variables.idevento == 23">
		<br> <b>COOSALUD</b> le quiere invitar a la <b>RENDICIÓN DE CUENTAS A LA CIUDADANÍA</b> que se llevará a cabo el jueves 13 de junio 2019 en Bogotá, con el objetivo de contribuir a una mejor gestión de la salud en Colombia.
	</div>
	<div *ngIf="variables.idevento == 24">
		<br>El Río Bogotá es una de las cuencas hidrográficas más importantes del país. Sin embargo, en los últimos 50 años, ha perdido la mayor parte de sus capacidades naturales por la masiva contaminación. El proyecto de recuperación, que empieza a surtir resultados visibles, involucra una transformación de todas sus cuencas, una recuperación del territorio y la regeneración de la relación que tienen con este.
		<br>
		<br>Es por esto que <b>Foros Semana</b>, la <b>Corporación Autónoma de Cundinamarca (CAR), Coca - Cola y PTAR Salitre</b>, realizarán el foro “<b>Renacer del Río Bogotá: un Esfuerzo de Todos</b>”, para discutir sobre su recuperación, la generación de cultura ciudadana y la importancia vital deeste cuerpo de agua para casi diez millones de personas.
	</div>
    <br>
  </div>
  <div style="text-align:center">
	<br><b>Clic en la imagen para confirmar su asistencia</b><p> (si ya se inscribió haga caso omiso)</p>
	<div *ngIf="variables.idevento == 14">
		<!--<a href="https://docs.google.com/forms/d/e/1FAIpQLSe5Sv5cbmCD4s4bztrgKR216fIyN3Mz6z-3IIUPvqs9ad5Phg/viewform?vc=0&c=0&w=1" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Coosalud">
		</a>-->
		<a href="https://kapulus.herokuapp.com/registro-coosalud-bucaramanga" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Coosalud">
		</a>
	</div>
	<div *ngIf="variables.idevento == 15">
		<a href="https://kapulus.herokuapp.com/registro-autonomia-medica" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Foro Autonomía Médica">
		</a>
	</div>
	<div *ngIf="variables.idevento == 16">
		<a href="https://kapulus.herokuapp.com/registro-foro-columnistas" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Foro Más en vivo que nunca">
		</a>
	</div>
	<div *ngIf="variables.idevento == 18">
		<a href="https://kapulus.herokuapp.com/registro-foro-mujeres" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Foro Mujeres colombianas, mujeres que inspiran">
		</a>
	</div>
	<div *ngIf="variables.idevento == 20">
		<a href="https://kapulus.herokuapp.com/registro-coosalud-cali" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Coosalud">
		</a>
	</div>
	<div *ngIf="variables.idevento == 23">
		<a href="https://kapulus.herokuapp.com/registro-coosalud-bogota" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Coosalud">
		</a>
	</div>
	<div *ngIf="variables.idevento == 24">
		<a href="https://kapulus.herokuapp.com/registro-rio-bogota" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Coosalud">
		</a>
	</div>
	<div *ngIf="variables.idevento == 29">
		<a href="https://kapulus.herokuapp.com/registro-prosegur?origen={{identificacion}}" target="_blank">
		  <img src="cid:invitacion" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;"
			alt="Prosegur">
		</a>
	</div>
	<div *ngIf="variables.idevento == 29">
		<b>Para más información comuníquese al 350 316 0070</b>
	</div>
  </div>
  </div>  
</div>
