<!-- Modal -->
<div *ngIf="asistente" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" show="true" focus="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Formulario de registro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal" id="formAsistente">
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <h2>Registro de asistentes</h2>
                                        <div *ngIf="existe == true" class="alert alert-danger" role="alert">
                                            El asistente {{asistente.identificacion}} ya existe
                                        </div>
                                        <div *ngIf="asistente.registrado == true" class="alert alert-success" role="alert">
                                            El asistente {{asistente.identificacion}} se encuentra registrado
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <label for='pop_documento' class='control-label'>Identificacion</label>  
                                        <!--<input [(ngModel)]="asistente.identificacion" type='text' class='form-control' 
                                            placeholder="Identificacion" name="pop_identificacion" [readonly]="!nuevo">-->
                                        <input [(ngModel)]="asistente.identificacion" type='text' class='form-control' 
                                            placeholder="Identificacion" name="pop_identificacion">
                                    </div>
                                    <div *ngFor="let atributo of asistente.atributos" class='col-sm-6'>
                                        <!-- Control Atributo Asistente -->
                                        <app-control-atributo-asistente [atributo]="atributo" [camposEvento]="camposEvento"></app-control-atributo-asistente>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div  class="col-lg-4" style="padding: 5% 0;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <app-escarapela [asistente]="asistente" [asistenteImpresion]="asistenteImpresion"></app-escarapela>
                <app-certificado [asistente]="asistente" [asistenteImpresion]="asistenteImpresion"></app-certificado>
                <!--<app-escarapela [asistente]="asistente"></app-escarapela>-->
                <button *ngIf="asistente.registrado == false && origen == 'interno'" type="button" class="btn btn-outline-success" data-dismiss="modal" id="btnGuardarYRegistrar"
                    (click)="guardarAsistente(true);">Registrar</button>
                <button *ngIf="origen == 'interno'" 
                    type="button" class="btn btn-outline-primary" id="btnGuardar"
                    (click)="guardarAsistente(false)">Guardar</button>
                <button *ngIf="origen == 'online' && habeasDataAceptado == true" data-dismiss="modal"
                    type="button" class="btn btn-outline-primary" id="btnGuardarOnline"
                    (click)="guardarAsistente(false)">Guardar</button>
                <button *ngIf="origen == 'online' && habeasDataAceptado == false" 
                    type="button" class="btn btn-outline-primary" id="btnHabeasData"
                    data-toggle="modal" data-target="#modalHabeasData" >Siguiente</button>
                <button *ngIf="origen == 'noAplica'" type="button" class="btn btn-outline-info" data-dismiss="modal" id="btnImprimirBrowser" 
                    (click)="guardarAsistente(false);imprimirBrowser('formEscarapela');">Escarapela</button>
                <button *ngIf="asistente.registrado == true && guardado == true && origen == 'interno'" 
                    type="button" class="btn btn-outline-info" data-dismiss="modal" id="btnImprimirDymo" 
                    (click)="imprimirServicioDymo('formEscarapela');">Escarapela</button>
                <button *ngIf="asistente.registrado == true && guardado == true && origen == 'interno'" 
                    type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCertificado" 
                    (click)="guardarAsistente(false);imprimir('formCertificado');">Certificado</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Habeas Data -->
<div *ngIf="asistente" class="modal fade" id="modalHabeasData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" show="false" focus="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalHDLabel">Política de Privacidad</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="text-align: left">
                        <span>
                            Kapulus International establece como políticas:
                            <br>
                            <br>
                            <b>KAPULUS S.A.S</b> es respetuosa de los datos personales e información que le
                            suministran sus destinatarios, clientes y/o lectores registrados en su base de datos.
                            La presente Política de Privacidad explica cómo realizamos la recopilación,
                            tratamiento y protección de los datos que son suministrados por nuestros
                            destinatarios, clientes y/o lectores (en adelante, “los Destinatarios”). Por medio del
                            diligenciamiento del formulario de datos, su suscripción a las redes sociales de
                            Kapulus y/o la autorización expresa o inequívoca de los Destinatarios, estos
                            declaran que han sido debidamente informados y que aceptan de forma inequívoca
                            las políticas y finalidades de tratamiento aquí descritas. 
                            <br>
                            <br>
                            <b>1. RESPONSABLE Y ENCARGADO DEL TRATAMIENTO DE DATOS.</b> El
                            responsable y/o encargado del tratamiento de datos personales del Destinatario es
                            la sociedad <b>KAPULUS S.A.S</b>, con número de identificación tributaria NIT.
                            901172890-4; domiciliada en la ciudad de Bogotá correo electrónico
                             contacto@kapulusinternational.com.
                            <br> 
                            <br>
                            <b>2. FINALIDAD DE LA BASE DE DATOS.</b> La base de datos manejada por
                            <b>KAPULUS</b> (en adelante, la Base de Datos), constituida por la información y los
                            datos personales otorgados por el Destinatario, tiene como finalidad principal la
                            comunicación con los Destinatarios para efectos de mercadeo, así como su análisis
                            para establecer tendencias o perfiles de consumo de los Destinatarios.
                            <br>
                            <br> 
                            <b>3. DATOS QUE SE OBTENDRÁN DE LOS DESTINATARIOS. KAPULUS</b> podrá
                            pedir a sus Destinatarios o recolectar de su comportamiento los datos que sean
                            necesarios para cumplir la finalidad de la Base de Datos, los cuales son -entre
                            otros- su nombre, dirección, ciudad de residencia, teléfono, celular, profesión, lugar
                            de trabajo, cargo que ocupa, hábitos de apertura, lectura, reenvío y respuesta de
                            los correos electrónicos enviados, así como la información que se recopila de su
                            computador y de su navegador de internet, tales como  dirección IP, los datos
                            recogidos por medio de “cookies”, atributos de software y hardware, entre otros.
                            <br>
                            <br> 
                            <b>4. AUTORIZACIÓN PARA RECOLECCIÓN Y TRATAMIENTO DE DATOS
                            PERSONALES.</b>  Mediante el envío de sus datos personales una vez se ha tenido
                            acceso a la presente Política de Privacidad, el Destinatario otorga a <b>KAPULUS</b> su
                            autorización expresa, informada e inequívoca para el almacenamiento y tratamiento
                            de sus datos personales.   
                            <br>
                            <br> 
                            <b>5. TRATAMIENTO DE DATOS PERSONALES ALOJADOS EN LA BASE DE
                            DATOS DE KAPULUS. KAPULUS</b> recolectará, almacenará, usará, procesará y
                            circulará los datos personales y otra información del Destinatario únicamente para
                            las finalidades descritas y usos autorizados en esta Política de Privacidad y/o en las
                            leyes vigentes. En consecuencia, el Destinatario autoriza expresamente a KAPULUS,
                            entre otros tratamientos acordes con las finalidades de datos, para la recolección,
                            almacenamiento, uso y circulación de sus datos personales para los siguientes
                            propósitos y en las siguientes circunstancias: (i) Establecer comunicación entre
                            KAPULUS y los Destinatarios para cualquier propósito relacionado con ofertas
                            publicitarias y mercadeo electrónico de cualquier producto o servicio de KAPULUS o
                            de terceros. (ii) Analizar, monitorear, estudiar y analizar la información de la Base
                            de Datos para mantener, aumentar y mejorar los servicios ofrecidos por KAPULUS
                            (iii) Suministrar a los clientes de KAPULUS los datos personales de los Destinatarios
                            que se hubieren registrado para los eventos o campañas publicitarias de dichos
                            clientes (iv) Reportar a los clientes los hábitos de apertura, reenvío, supresión de
                            sus piezas publicitarias. (v) Suministrar a las autoridades competentes la
                            información que sea requerida en cumplimiento de las leyes, regulaciones o
                            procesos judiciales o administrativos, (vi) Prevenir problemas técnicos y detener o
                            prevenir fraudes, ataques a la seguridad de KAPULUS o de otros (vii) Ceder, mover,
                            trasladar o modificar la titularidad de la Base de Datos a otras sociedades o
                            personas jurídicas en caso de reorganización empresarial (viii) Delegar a terceros,
                            en calidad de Encargados, los tratamientos descritos, dentro de Colombia o fuera
                            de ella (ix) Proteger los derechos de propiedad intelectual de KAPULUS, de los
                            Destinatarios, y de los Clientes de KAPULUS. (xi) responder a requerimientos de los
                            Destinatarios, confirmar su asistencia a eventos, confirmación de información,
                            presentación de propuestas, confirmación de datos y facturación de servicios.”
                            <br>
                            <br>
                            <b>6. SOLICITUD DE AUTORIZACIÓN PARA NUEVOS USOS.</b> En caso de una nueva
                            finalidad diferente a la expresada en la presente Política de Privacidad y en los
                            Términos y Condiciones, KAPULUS solicitará la autorización expresa del
                            Destinatario. 
                            <br>
                            <br>
                            <b>7. SUMINISTRO DE LOS DATOS PERSONALES DE LOS DESTINATARIOS A
                            KAPULUS Y A SUS CLIENTES.</b> En caso de que alguno de nuestros Destinatarios
                            responda a la publicidad de algún Cliente o de KAPULUS mediante el registro de sus
                            datos personales en el formulario dispuesto para ello, el Destinatario autoriza
                            expresa e inequívocamente a KAPULUS para suministrar sus datos personales al
                            Cliente que publicita el producto o servicio por el cual el Destinatario demostró
                            interés. Esta autorización comprende su consentimiento para que el Cliente
                            contacte al Destinatario interesado en la publicidad por medio de correo electrónico,
                            postal, SMS, WhatsApp, notificaciones push o teléfono, así como para que dicho
                            Cliente o KAPULUS incorpore y almacene los datos personales del Destinatario en
                            su propia base de datos para efectos de mercadeo de sus productos y servicios.
                            <br>
                            <br>
                            <b>8. REMISIÓN A OTROS SITIOS WEB.</b> Cuando los sitios web de KAPULUS remitan
                            a sitios web que no sean de dominio de KAPULUS, este no se hace responsable por
                            la información o el tratamiento que estas páginas web realizan sobre los datos que
                            allí son otorgados.
                            <br>
                            <br>
                            <b>9. INFORMACIÓN Y DATOS DE MENORES DE EDAD.</b> KAPULUS no usa, ni
                            almacena, o realiza tratamiento alguno sobre datos personales de menores de
                            edad. Si, por algún fraude o error, se llega a tener almacenada información de un
                            menor de edad, esta será suprimida de nuestras bases de datos de forma
                            inmediata, una vez se conozca que el dato pertenece a un menor de edad.
                            <br>
                            <br>
                            <b>10. ALMACENAMIENTO DE DATOS PERSONALES.</b> El Destinatario autoriza
                            expresamente a KAPULUS  para que este lo almacene de la forma que considere
                            más oportuna y cumpla con la seguridad requerida para la protección de los datos
                            del Destinatario.
                            <br>
                            <br>
                            <b>11. MEDIDAS DE SEGURIDAD PARA LA PROTECCIÓN DE LOS DATOS
                            PERSONALES Y OTRA INFORMACIÓN.</b> Las medidas de seguridad con las que
                            cuenta KAPULUS buscan proteger los datos de los Destinatarios en aras de impedir
                            su adulteración, pérdida, usos y accesos no autorizados. Para ello KAPULUS de
                            forma diligente implementa medidas de protección humanas, administrativas y
                            técnicas que razonablemente están a su alcance, dentro de las cuales se
                            encuentran las obligaciones contractuales de privacidad y confidencialidad en
                            cabeza de los empleados, contratistas y proveedores de KAPULUS. Con todo, el
                            destinatario reconoce que no existe un método que sea totalmente seguro, por lo
                            cual no se puede garantizar la seguridad absoluta. En estos términos el Destinatario
                            acepta esta forma de protección, declarando que la considera suficiente para todos
                            los propósitos.
                            <br>
                            <br>
                            <b>12. DERECHOS DE LOS DESTINATARIOS.</b> KAPULUS informa a sus Destinatarios
                            que, conforme a la  legislación vigente, estos tienen el derecho de conocer,
                            actualizar, rectificar su información, y/o revocar la autorización para su
                            tratamiento.
                            <br>
                            <br>
                            <b>a. Área encargada de peticiones, consultas y reclamos.</b> El área encargada de
                            atender las peticiones, consultas y reclamos de los titulares para ejercer sus
                            derechos a conocer, actualizar, rectificar y suprimir sus datos y revocar su
                            autorización es el Área de Privacidad de KAPULUS. 
                            <br>
                            <br>
                            <b>b. Procedimiento para ejercer sus derechos.</b> En caso de que desee ejercer sus
                            derechos, el Destinatario deberá enviar un correo electrónico o físico a las
                            direcciones de contacto establecidas en la presente Política de Privacidad. El
                            procedimiento que se seguirá para dichas comunicaciones, serán los que se indican
                            a continuación: 
                            <br>
                            <br>
                            <b>c. Peticiones y Consultas Sobre Datos Personales.</b> Cuando el titular de los
                            datos o sus causahabientes deseen consultar la información que reposa en la base
                            de datos, KAPULUS responderá la solicitud en plazo de máximo diez (10) días. En
                            cumplimiento a lo dispuesto en la Ley 1581 de 2012, cuando no fuere posible
                            atender la consulta dentro de dicho término, se informará al Destinatario, se le
                            expresará los motivos de la demora y se le señalará la fecha en que se atenderá su
                            consulta, la cual no podrá superar los cinco (5) días hábiles siguientes al
                            vencimiento del primer término.
                            <br>
                            <br>
                            <b>d. Revocación de autorización, retiro o supresión de la Base de
                            Datos.</b>  KAPULUS garantiza al Destinatario la desafiliación de nuestra base de datos
                            cuando así lo desee. La revocación de su autorización, solicitud de retiro o
                            supresión de sus datos de la Base de Datos se podrá hacer de forma expedita e
                            inmediata, mediante la opción de “des-suscripción” o “unsuscribe” que se incluye
                            en todas las comunicaciones que envía KAPULUS o notificando mediante correo
                            electrónico a contacto@kapulusinternational.com.  
                            <br>
                            <br>
                            <b>e. Reclamos Sobre Datos Personales.</b> Cuando el titular de los datos o sus
                            causahabientes consideren que la información contenida en las bases de datos debe
                            ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto
                            incumplimiento de cualquiera de los deberes contenidos en la Ley 1581 de 2012,
                            podrán hacerlo de forma expedita e inmediata, mediante la opción de “des-
                            suscripción” o “unsuscribe” que se incluye en todas las comunicaciones que envía
                            KAPULUS. En caso de que por alguna circunstancia esto no sea efectivo, o si el
                            Destinatario lo prefiere, podrá presentar el correspondiente reclamo ante KAPULUS,
                            el cual será tramitado bajo las siguientes reglas: 1. El reclamo se formulará
                            mediante solicitud dirigida a KAPULUS con la identificación del Destinatario, la
                            descripción de los hechos que dan lugar al reclamo, la dirección, y se anexarán los
                            documentos que se quieran hacer valer. Si el reclamo resulta incompleto, KAPULUS
                            podrá requerir al interesado dentro de los cinco (5) días siguientes a la recepción
                            del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la
                            fecha del requerimiento, sin que el solicitante presente la información requerida, se
                            entenderá que ha desistido del reclamo. En caso de que KAPULUS no sea
                            competente para resolver el reclamo, dará traslado a quien corresponda en un
                            término máximo de dos (2) días hábiles e informará de la situación al Destinatario,
                            con lo cual quedará relevada de cualquier reclamación o responsabilidad por el uso,
                            rectificación o supresión de los datos. 2. Una vez recibido el reclamo completo, se
                            incluirá en la base de datos una leyenda que diga &quot;reclamo en trámite&quot; y el motivo
                            del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá
                            mantenerse hasta que el reclamo sea decidido. 3. El término máximo para atender
                            el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la
                            fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho
                            término, se informará al Destinatario los motivos de la demora y la fecha en que se
                            atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles
                            siguientes al vencimiento del primer término.
                            <br>
                            <br>
                            <b>13. CONTACTO.</b> Cualquier duda o información adicional será recibida y tramitada
                            mediante su envío a las direcciones de contacto establecidas en la presente Política
                            de Privacidad. 
                            <br>
                            <br>
                            <b>14. PERÍODO DE VIGENCIA DE LA BASE DE DATOS.</b> Los datos incorporados
                            permanecerán vigentes durante el tiempo necesario para cumplir la finalidad antes
                            señalada.
                            <br>
                            <br>
                            <b>15. CAMBIOS EN LA POLÍTICA DE PRIVACIDAD.</b> Cualquier cambio sustancial
                            que hagamos en nuestra política de privacidad, será publicado en nuestras páginas
                            web. Para el caso de cambios sustanciales o que afecten de forma importante a
                            nuestros Destinatarios, comunicaremos de dichos cambios mediante correo
                            electrónico. 
                            <br>
                            <br>
                            <b>16. UTILIZACIÓN FRAUDULENTA DE NUESTRA MARCA:</b> KAPULUS no será
                            responsable por el tratamiento de datos que son captados por terceros
                            inescrupulosos que utilizan de manera abusiva nuestra marca. Para cualquier duda
                            relacionada con la legitimidad o veracidad de alguna publicidad que se haga en
                            nombre de KAPULUS, el Destinatario podrá comunicarse a los datos de contacto
                            indicados en la presente Política de Privacidad.
                            <br>
                            <br>
                            <b>17. RESPONSABILIDAD POR EL CONTENIDO DE LA PUBLICIDAD Y
                            VERACIDAD DE LA INFORMACIÓN INCLUIDA EN ELLAS:</b> El contenido y la
                            información de los mensajes publicitarios que son enviados a través de nuestros
                            correos electrónicos, no comprometen la responsabilidad de KAPULUS, y son de la
                            entera responsabilidad del cliente o persona que ofrece los productos o servicios.
                            No obstante, en caso de algún problema con los productos o servicios ofrecidos
                            mediante los servicios de KAPULUS, los Destinatarios podrán informarlo a KAPULUS
                            para que este tome las medidas que a su propio juicio y entera discreción, estime
                            necesarias para evitar futuros problemas.
                            <br>
                            <br>
                            <b>18. LEGISLACIÓN VIGENTE.</b> La legislación nacional vigente en materia de
                            protección de datos personales está contenida en la Ley 1581 de 2012, el Decreto
                            1377 de 2013 y la Ley 1266 de 2008, y demás normas concordantes
                            <br>
                            <br>
                            <b>Adición, actualización o remoción de datos personales </b>
                            Si desea agregar, actualizar, modificar o eliminar sus datos personales incluidos en
                            nuestras bases de datos, llene el siguiente formulario o escriba contando su
                            requerimiento a contacto@kapulusinternational.com
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="btnAceptarHD" data-dismiss="modal"
                    (click)="aceptarHabeasData()">Aceptar</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>          
            </div>
        </div>
    </div>
</div>