.control-label{
  text-align: left;
  font-weight: 700;
  margin-bottom: 0%;
  max-width: 100%;
  display: block;
}

.modal-body{
  background-color: white;
}

.modal-header{
  background-color: white;
  color: black;
}

.close{
  color: black;
  opacity: 1;
}