<!-- Modal -->
<div *ngIf="asistente" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" show="true" focus="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Formulario de registro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal" id="formAsistente">
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <h2>Registro de asistentes</h2>
                                        <div *ngIf="existe == true" class="alert alert-danger" role="alert">
                                            El asistente {{asistente.identificacion}} ya existe
                                        </div>
                                        <div *ngIf="asistente.registrado == true" class="alert alert-success" role="alert">
                                            El asistente {{asistente.identificacion}} se encuentra registrado
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <label for='pop_documento' class='control-label'>Identificacion</label>  
                                        <!--<input [(ngModel)]="asistente.identificacion" type='text' class='form-control' 
                                            placeholder="Identificacion" name="pop_identificacion" [readonly]="!nuevo">-->
                                        <input [(ngModel)]="asistente.identificacion" type='text' class='form-control' 
                                            placeholder="Identificacion" name="pop_identificacion">
                                    </div>
                                    <div *ngFor="let atributo of asistente.atributos" class='col-sm-6'>
                                        <!-- Control Atributo Asistente -->
                                        <app-control-atributo-asistente [atributo]="atributo" [camposEvento]="camposEvento"></app-control-atributo-asistente>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div  class="col-lg-4" style="padding: 5% 0;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <app-escarapela [asistente]="asistente" [asistenteImpresion]="asistenteImpresion"></app-escarapela>
                <app-certificado [asistente]="asistente" [asistenteImpresion]="asistenteImpresion"></app-certificado>
                <button *ngIf="asistente.registrado == false && origen == 'interno'" type="button" class="btn btn-outline-success" data-dismiss="modal" id="btnGuardarYRegistrar"
                    (click)="guardarAsistente(true);">Registrar</button>
                <button *ngIf="origen == 'interno'" 
                    type="button" class="btn btn-outline-primary" id="btnGuardar"
                    (click)="guardarAsistente(false);">Guardar</button>
                <button *ngIf="origen == 'online' && habeasDataAceptado == true && confirmado == true" data-dismiss="modal"
                    type="button" class="btn btn-outline-primary" id="btnGuardarOnline"
                    (click)="enviarCorreo();">Terminar</button>
                <button *ngIf="origen == 'online' && habeasDataAceptado == true && confirmado == false"
                    type="button" class="btn btn-outline-primary" id="btnConfirmar"
                    (click)="guardarAsistente(false);">Confirmar</button>
                <button *ngIf="origen == 'online' && habeasDataAceptado == false" 
                    type="button" class="btn btn-outline-primary" id="btnHabeasData"
                    data-toggle="modal" data-target="#modalHabeasData" >Siguiente</button>
                <button *ngIf="origen == 'noAplica'" type="button" class="btn btn-outline-info" data-dismiss="modal" id="btnImprimirBrowser" 
                    (click)="guardarAsistente(false);imprimirBrowser('formEscarapela');">Escarapela</button>
                <button *ngIf="asistente.registrado == true && guardado == true && origen == 'interno'" 
                    type="button" class="btn btn-outline-info" data-dismiss="modal" id="btnImprimirDymo" 
                    (click)="imprimirServicioDymo('formEscarapela');">Escarapela</button>
                <button *ngIf="asistente.registrado == true && guardado == true && origen == 'interno'" 
                    type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCertificado" 
                    (click)="guardarAsistente(false);imprimir('formCertificado');">Certificado</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Habeas Data -->
<div *ngIf="asistente" class="modal fade" id="modalHabeasData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" show="false" focus="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalHDLabel">Privacidad, protección y manejo seguro de datos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="text-align: left">
                        <span>
                            Declaras que ingresaste información completa y verdadera, de acuerdo a lo que aparece en el documento de identidad. 
							<br>
                            <br>
							Cualquier inconsistencia en la información podría causar la denegación de ingreso al escenario. 
							<br>
                            <br>
							Declaras conocer y aceptar nuestra política de seguridad que busca brindar total seguridad a tu información.
							<br>
                            <br>
							Si deseas conocer nuestras políticas de privacidad por favor visita <a href="http://kapulusinternational.com/privacidad">http://kapulusinternational.com/privacidad</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="btnAceptarHD" data-dismiss="modal"
                    (click)="aceptarHabeasData()">Aceptar</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>          
            </div>
        </div>
    </div>
</div>
<app-correo [asistente]="asistente" [nombreAsistente]="nombreAsistente" [asistenteImpresion]="asistenteImpresion"></app-correo>