<div style="text-align:center">
  <div class="row">
      <!--<img src="../assets/resources/logoCompensar.png" class="img-fluid" style="max-width: 75%; height: auto; padding-bottom: 20px; padding-top: 20px;" 
          alt="We Trade">-->
	<div class="col-lg-1">
	</div>
	<div class="col-lg-5" style="text-align:left">    
		<div *ngIf="config.variables.idevento != 12"> 
			<!--<img src="../assets/resources/LogoLegis.png" class="img-fluid" style="max-width: 25%; height: auto; padding-bottom: 20px; padding-top: 20px;" 
				alt="LEGIS">-->
			<img src="../assets/resources/logoSemana.jpg" class="img-fluid" style="max-width: 80%; height: auto; padding-bottom: 20px; padding-top: 20px;" 
				alt="FOROS SEMANA">
		</div>
		<div *ngIf="config.variables.idevento == 12"> 
			<!--<img src="../assets/resources/LogoLegis.png" class="img-fluid" style="max-width: 25%; height: auto; padding-bottom: 20px; padding-top: 20px;" 
				alt="LEGIS">-->
			<img src="../assets/resources/logoCoosalud.png" class="img-fluid" style="max-width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px;" 
				alt="COOSALUD">
		</div>
	</div>
	<div class="col-lg-5" style="text-align:right">    
	</div>
	<div class="col-lg-1">
	</div>
  </div>
  <!--<div class="container" style="background-image: url(../assets/resources/imagenCongreso.jpg);background-repeat:no-repeat;background-attachment:fixed;opacity: 0.6;">-->
    <div class="container">
	<!--
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <ul class="nav nav-pills nav-fill" id="v-pills-tab">
            <li class="nav-item">
                <a routerLink="/registro" class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Registro</a>
            </li>
            <li class="nav-item">
                <a routerLink="/estadisticas" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Estadisticas</a>
            </li>
            <li class="nav-item">
                <a routerLink="/control-acceso" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Control de Acceso</a>
            </li>
        </ul>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
	-->
    <router-outlet></router-outlet>
	<div>
		<div class="row">        
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4" style="text-align:center">
                <!--
				<div> 
                    Este formulario es un producto de 
                    <a href="https://kapulusinternational.com/" target="_blank">
                        <img src="../assets/resources/LogoKapulus.png" class="img-fluid" style="max-width: 50%; height: auto; padding-bottom: 20px; padding-top: 20px;" 
                        alt="KAPULUS">
                    </a>
                </div>
				-->
            </div>
            <div class="col-lg-4">
            </div>
        </div>
	</div>
	<!--
    <div>
        <div class="row">        
            <div class="col-lg-4">
                <span class="d-block p-2 bg-dark text-white">versión 1.2.1</span>
            </div>
            <div class="col-lg-4">
                <span class="d-block p-2 bg-dark text-white">Kapulus International</span>
            </div>
            <div class="col-lg-4">
                <span class="d-block p-2 bg-dark text-white">Developed By <img src="../assets/resources/cow.png" class="img-fluid" style="max-width: 25%; height: auto;" 
                    alt="The Smart Cow Labs" class="cow-labs"> Smart Cow Labs</span>
            </div>
        </div>
    </div>
	-->
  </div><!-- /.container -->

