.control-label{
    text-align: left;
    font-weight: 700;
    margin-bottom: 0%;
    max-width: 100%;
    display: block;
  }

  .validacion{
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }
  